<pre>
  □□□───────────────────────────────
  Trân trọng,
  Furnique
    
Email: contact@furnique.tech
Website: <a href="https://management.furnique.tech">https://management.furnique.tech</a>
  ────────────────────────────────□□□
</pre>