<pre style="font-family: Arial, Helvetica, sans-serif; font-size: 1.5em;">
□□□───────────────────────────────
  Trân trọng,
    Furnique
    
  Email: contact@furnique.tech
  Website: <a href="https://management.furnique.tech">https://management.furnique.tech</a>
────────────────────────────────□□□
</pre>