<pre style="font-family: Arial, Helvetica, sans-serif; font-size: 1.5em;">
□□□───────────────────────────────
Trân trọng,
    Furnique
    
  Email: furnique.contact@gmail.com
  Website: <a href="https://management.furnique.tech">https://management.furnique.tech</a>
────────────────────────────────□□□
</pre>